GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=dfgdgdggr
GOOGLE_CALLBACK_URL=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=564987
MAIL_SECURE=false
MAIL_USER=tu_correo@gmail.com
MAIL_PASS=tu_app_password

SUPABASE_URL=

FRONTEND_SUCCESS_URL=
IS_OFFLINE=

JWT_SECRET=

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASS="[PASSWORD]"
DATABASE_NAME=postgres
DATABASE_URL="postgresql://postgres:[PASSWORD]@localhost:5432/postgres"

NODE_ENV=production/dev

CLOUDINARY_CLOUD_NAME=jiknedf8
CLOUDINARY_API_KEY=823798729837493847
CLOUDINARY_API_SECRET=sdkflnsldkfnlsdnf

MISTRAL_API_KEY=your_mistral_api_key